<html>

<head>
<title>Heimdall WiFi Radar by G4lile0</title>
<link rel="stylesheet" href="/static/bootstrap.min.css" />
<link rel="stylesheet" href="/static/style.css" />
<script src="/static/jquery.min.js"></script>
<script src="/static/d3.v4.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/sorttable.js"></script>
</head>

<style>

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

</style>


<body>

<div class="jumbotron text-center">
<h1><img src="/static/logo.png" style="height:1em;" />Heimdall WiFi Radar</h1>
<h4>Heavily based on the great PHAT Snifer by Lars Juhl Jensen</h4>

</div>

<div class="container">

<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
<li><a data-toggle="tab" href="#beacons">Beacons</a></li>
<li><a data-toggle="tab" href="#clients">Clients</a></li>
<li><a data-toggle="tab" href="#control">Control</a></li>
</ul>

<div class="tab-content">


<div id="overview" class="tab-pane fade in active">
<svg width="750" height="750"></svg>




<script>
{% autoescape false %}
var circles = {{circles}};
{% endautoescape %}




var svg = d3.select("svg"),
    margin = 20,
    diameter = +svg.attr("width"),
    g = svg.append("g").attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

var color = d3.scaleLinear()
    .domain([-1, 5])
    .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
    .interpolate(d3.interpolateHcl);

var pack = d3.pack()
    .size([diameter - margin, diameter - margin])
    .padding(2);


  root = d3.hierarchy(circles)
      .sum(function(d) { return d.size; })
      .sort(function(a, b) { return b.value - a.value; });

  var focus = root,
      nodes = pack(root).descendants(),
      view;

  var circle = g.selectAll("circle")
    .data(nodes)
    .enter().append("circle")
      .attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
      .style("fill", function(d) { return d.children ? color(d.depth) : null; })
      .on("click", function(d) { if (focus !== d) zoom(d), d3.event.stopPropagation(); });

  var text = g.selectAll("text")
    .data(nodes)
    .enter().append("text")
      .attr("class", "label")
      .style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
      .style("display", function(d) { return d.parent === root ? "inline" : "none"; })
      .text(function(d) { return d.data.name; });

  var node = g.selectAll("circle,text");

  svg
      .style("background", color(-1))
      .on("click", function() { zoom(root); });

  zoomTo([root.x, root.y, root.r * 2 + margin]);

  function zoom(d) {
    var focus0 = focus; focus = d;

    var transition = d3.transition()
        .duration(d3.event.altKey ? 7500 : 750)
        .tween("zoom", function(d) {
          var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
          return function(t) { zoomTo(i(t)); };
        });

    transition.selectAll("text")
      .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
        .style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
        .on("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
        .on("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
  }

  function zoomTo(v) {
    var k = diameter / v[2]; view = v;
    node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
    circle.attr("r", function(d) { return d.r * k; });
  }


</script>




















</div>






<div id="beacons" class="tab-pane fade">
<p>
<table class="sortable">
<thead>
<tr>
<th>MAC</th>
<th>SSID</th>
<th>Channel</th>
<th>Vendor</th>
<th>RSSI (dBm)</th>
</tr>
</thead>
<tbody>
{% for addr, data in beacons %}
<tr>
<td>{{addr}}</td>
<td>{{data['ssid']}}</td>
<td>{{data['channel']}}</td>
<td>{{data['vendor']}}</td>
<td>{{data['rssi']}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</p>
</div>

<div id="clients" class="tab-pane fade">
<p>
<table class="sortable">
<thead>
<tr>
<th>MAC</th>
<th>Beacon</th>
<th>SSID</th>
<th>Channel</th>
<th>Vendor</th>
<th>RSSI (dBm)</th>
</tr>
</thead>
<tbody>
{% for addr, data in clients %}
<tr>
<td>{{addr}}</td>
<td>{{data['beacon']}}</td>
<td>{{data['ssid']}}</td>
<td>{{data['channel']}}</td>
<td>{{data['vendor']}}</td>
<td>{{data['rssi']}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</p>
</div>

<div id="control" class="tab-pane fade">
<p>
<div class="btn-toolbar">
<a class="btn btn-default" href="/download" role="button">Download data</a>
<a class="btn btn-default" href="/reset" role="button">Reset pHat</a>
</div>
</p>
</div>

</div>

</body>
</html>
